.generateCategory (@name; @color; @symbol; @short; @offset) {
    li.@{name}_category:before {
        content: @symbol;
        // color: darken(@color, 10%);
        color: @color;
        background-color: lighten(@color, 20%);
    }


    @media screen and (max-width: 1150px) {
      li {
          overflow: hidden;
          white-space: nowrap;
          width: 40px;

          text-overflow: ".";
      }
    }
}

.generateCategory(science, @red, "@", sc, .1);
.generateCategory(arts, @blue, "X", ar, .3);
.generateCategory(philosophy, @purple, "+", ph, .5);
.generateCategory(politics, @green, "=", po, .7);
.generateCategory(projects, @yellow, ":", pr, .9);
