body {
    margin: 0;
}

#navigation {
    position: absolute;
    #navigation_hotzone {
        width: 150px;
        border-radius: 0 50% 50% 0;

        &:hover li {
            padding-left: 1em;
        }
    }

    ul {
        list-style: none;
        padding:0;
        margin:0;
        width: 100px
    }
    
    li { 
        transition: all 0.25s;
        text-indent: -.9em;
        &:before {
            font-family: monospace;
            padding: 1px 5px;
            margin-right: 5px;
        }
        &:after {
            transition: all 0.75s;
            opacity: 0;
        }
    }
    
    
    ul:hover > li:after {
        opacity: 1;
    }

    @import "catagories.less";
    
}
