html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

.annotations p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: rgba(0,0,0,0.25);
    transition: color 0.5s;
    &:hover {
        overflow: visible;
        white-space: normal;
        text-overflow: clip;
        color: rgba(0,0,0,1);
    }
}

#header {
    margin: 10px 5px 0 10px;
    height: 65px;
    .title {
        line-height: 1;
        vertical-align:text-top;
        font-size: 42px;
        border-bottom: 1px dotted #ba0000;
        &:first-letter {
            float: left;
            font-size: 72px;
            margin-top: -10px;
            text-decoration: none;
        }
    }

    #search {
        float: right;
    }
}

#content {
    width: 80%;
}

#navigation {
    position: absolute;
    height: 50%;
    #navigation_hotzone {
        width: 150px;
        height: 75%;
        padding-top: 50%;

        border-radius: 0 50% 50% 0;
        &:hover li {
            padding-left: 1em;
        }
    }

    ul {
        list-style: none;
        padding:0;
        margin:0;
        width: 100px
    }
    
    li { 
        transition: all 0.25s;
        text-indent: -.9em;
        margin: 10px 0;
        &:before {
            font-family: monospace;
            padding: 1px 5px;
            margin-right: 5px;
        }
        &:after {
            transition: all 0.75s;
            opacity: 0;
        }
    }
    
    
    ul:hover > li:after {
        opacity: 1;
    }

    @import "catagories.less";
    
}
