/* -----------------------------------*/
/* ----->>> TABLE OF CONTENTS <<<-----*/
/* -----------------------------------*/
/* 1) Imports ------------------------*/
/* 2) Global -------------------------*/
/* 3) Typography ---------------------*/
/* 4) Header--------------------------*/
/* 5) Page Structure -----------------*/
/* 6) Navbar -------------------------*/
/* -----------------------------------*/


/* -----------------------------------*/
/* ------->>> (1) Imports <<<---------*/
/* -----------------------------------*/


        @import "variables.less";
        @import "categories.less";
        @import "print.less";


/* -----------------------------------*/
/* -------->>> (2) Global <<<---------*/
/* -----------------------------------*/


html {
        height: 100%;
}

body {
        height: 100%;
        line-height: 1.4;
        margin: 0;
}


/* -----------------------------------*/
/* ------>>> (3) Typography <<<-------*/
/* -----------------------------------*/

/* -----------------------------------*/
/* -------->>> (3) Header <<<---------*/
/* -----------------------------------*/


header {
        margin: 10px 0 0;
        background: white;
        position: relative;
        height: 120px;
        .title-underline {
            -khtml-user-select: none;
            -moz-user-select: -moz-none;
            -ms-user-select: none;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            font-family: Helvetica, Arial;
            font-size: 2rem;
            line-height: 0;
            position: absolute;
            top: 2.17em;
            user-select: none;
        }
        .title {
                // border-bottom: 1px dotted #999;
                color: #BDBDBD;
                float: left;
                font-family: Helvetica;
                font-size: 90px;
                font-weight: 100;
                letter-spacing: -0.019em;
                line-height: 1.2;
                margin-top: 30px;
                margin: 0;
                padding: 0 20% 0 40px;
                position: relative;
                &:first-letter {
                        float: left;
                        font-size: 132px;
                        font-weight: 100;
                        // line-height: 1.1;
                        // can't use lineheight on firefox
                        margin-top: 0px;
                        line-height: 0.91;
                        text-decoration: none;
                }
        }
        .search {
                height: 30px;
                margin-right: 20px;
                margin-top: -15px;
                position: absolute;
                right: 0;
                top: 50%;
        }
        &:after {
                clear: both;
                content: "";
                display: table;
        }
}

/* -----------------------------------*/
/* ---->>> (4) Page Structure <<<-----*/
/* -----------------------------------*/

summary.article-stub {
    margin: 40px 0;
    position: relative;
    &:first-child {
        margin-top: 0;
    }

    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.7rem;
    }
    p {
        font-size: 1.3rem;
        line-height: 1.4;
        margin-bottom: 10px;
    }
    .article-author {
        position: absolute;
        right: 0;
        top: 0;
        opacity: 0.7;
        margin: 0;
    }
    .article-title {
        text-transform: capitalize;
        letter-spacing: -0.3;
        opacity: 0.7;
        margin: 0;
        &:first-letter {
            float: left;
            font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
            font-size: 51pt;
            text-indent: 0px;
            margin: 10px 11px 0 0;
            border: 2px solid rgb(148,148,148);
            padding: 6px 10px 0 9px;
        }
    }

    &:hover .article-title,
    &:hover .article-author {
        opacity: 1;
        color: black;
    }
}

.icon {
    position: fixed;
    right: -6%;
    bottom: 15%;
    width: 50%;
    height: 50%;
    opacity: 0.09;
}

.annotations p {
        color: rgba(0,0,0,0.25);
        overflow: hidden;
        text-overflow: ellipsis;
        transition: color 0.5s;
        white-space: nowrap;
        &:hover {
                color: rgba(0,0,0,1);
                overflow: visible;
                text-overflow: clip;
                white-space: normal;
        }
}

.article-copy {
        text-align: justify;
}

#main {
    margin-top: 0;
    // width: 75%;
    .container {
        margin-top: 55px;
    }
}

.category-underline {
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    cursor: default;
    font-family: Helvetica;
    font-size: 0.45em;
    line-height: 0;
    position: absolute;
    top: 1.4em;
    user-select: none;
    text-indent: 0;
}

#category-heading {
    font-family: Helvetica;
    font-size: 4.5rem;
    line-height: 1;
    margin-bottom: 3px;
    position: relative;
    text-indent: 125pt;
}

/* -----------------------------------*/
/* -------->>> (5) Navbar <<<---------*/
/* -----------------------------------*/

nav {
        height: 50%;
        top: 150px;
        left: 0;
        position: fixed;
        // position: absolute;
        #navigation_category {
            position: absolute;
            top: 50%;
            margin-top: -6.2rem;
        }
        #navigation_hotzone {
                border-radius: 0 100% 100% 0;
                height: 100%;
                padding-top: 0;
                width: 200px;
                &:hover li {
                        margin-left: 0.9rem;
                        // padding-left: 0.9rem;
                }
        }

        ul {
                list-style: none;
                margin:0;
                padding:0;
                width: 165px;
        }
        li { 
                font-size: 1.5rem;
                margin: 0;
                text-indent: -0.8em;
                transition: opacity 0.25s, margin 0.50s;
                line-height: 1;
                opacity: 0.4;
                &:before {
                        transition: opacity 0.25s;
                        font-family: monospace;
                        margin-right: 5px;
                        padding: 1px 5px;
                }
                &:first-child {
                    padding-top: 0px;
                }
                &:hover {
                    opacity: 1;
                    transition: opacity 0.05s, margin 0.2s;
                    &:before {
                        transition: 0.05s opacity;
                    }
                }
                a[href] {
                    transition: opacity 0.2s;
                    text-decoration: none;
                    opacity: 0;
                    display: inline-block;
                    height: 100%;
                    padding: 8px 0;
                    text-indent: 0;
                    &:hover {
                        opacity: 1;
                        transition: opacity 0.05s;
                    }
                }
        }

        ul:hover > li:before {
            opacity: 1;
        }
        ul:hover a {
                opacity: 0.7;
        }
        
}
