#spacer {
  height: 106px;
  background: white;
  position: relative;
  margin-top: -34px;
}
.title {
  display: block;
  z-index: 20;
}
.title .title-underline {
  text-indent: -40px;
}
body nav {
  top: 180px;
}
