@import url(http://fonts.googleapis.com/css?family=Montserrat+Subrayada:400);
li.science_category:before {
  content: "@";
  color: #d24532;
  background-color: #e49186;
  padding: 0 0.33em;
}
@media screen and (max-width: 1150px) {
  li {
    overflow: hidden;
    white-space: nowrap;
    width: 40px;
    text-overflow: ".";
  }
}
summary.article-stub:hover .info {
  opacity: 1;
}
summary.article-stub.science .article-title:before {
  content: "";
  display: block;
  float: left;
  background: url('/images/science.svg');
  background-size: 50px 50px;
  color: #d24532;
  text-shadow: 0px 0px 1px #555;
  width: 50px;
  height: 50px;
  text-align: center;
  margin-right: 27px;
  margin-left: -20px;
  margin-top: -1px;
  margin-bottom: 10px;
}
li.arts_category:before {
  content: "X";
  color: #003a47;
  background-color: #008dad;
  padding: 0 0.33em;
}
@media screen and (max-width: 1150px) {
  li {
    overflow: hidden;
    white-space: nowrap;
    width: 40px;
    text-overflow: ".";
  }
}
summary.article-stub:hover .info {
  opacity: 1;
}
summary.article-stub.arts .article-title:before {
  content: "";
  display: block;
  float: left;
  background: url('/images/arts.svg');
  background-size: 50px 50px;
  color: #003a47;
  text-shadow: 0px 0px 1px #555;
  width: 50px;
  height: 50px;
  text-align: center;
  margin-right: 27px;
  margin-left: -20px;
  margin-top: -1px;
  margin-bottom: 10px;
}
li.philosophy_category:before {
  content: "+";
  color: #b36ba6;
  background-color: #d6aecf;
  padding: 0 0.33em;
}
@media screen and (max-width: 1150px) {
  li {
    overflow: hidden;
    white-space: nowrap;
    width: 40px;
    text-overflow: ".";
  }
}
summary.article-stub:hover .info {
  opacity: 1;
}
summary.article-stub.philosophy .article-title:before {
  content: "";
  display: block;
  float: left;
  background: url('/images/philosophy-color.svg');
  background-size: 50px 50px;
  color: #b36ba6;
  text-shadow: 0px 0px 1px #555;
  width: 50px;
  height: 50px;
  text-align: center;
  margin-right: 27px;
  margin-left: -20px;
  margin-top: -1px;
  margin-bottom: 10px;
}
li.politics_category:before {
  content: "=";
  color: #24db52;
  background-color: #7ce997;
  padding: 0 0.33em;
}
@media screen and (max-width: 1150px) {
  li {
    overflow: hidden;
    white-space: nowrap;
    width: 40px;
    text-overflow: ".";
  }
}
summary.article-stub:hover .info {
  opacity: 1;
}
summary.article-stub.politics .article-title:before {
  content: "";
  display: block;
  float: left;
  background: url('/images/politics.svg');
  background-size: 50px 50px;
  color: #24db52;
  text-shadow: 0px 0px 1px #555;
  width: 50px;
  height: 50px;
  text-align: center;
  margin-right: 27px;
  margin-left: -20px;
  margin-top: -1px;
  margin-bottom: 10px;
}
li.projects_category:before {
  content: ":";
  color: #f8f825;
  background-color: #fbfb88;
  padding: 0 0.33em;
}
@media screen and (max-width: 1150px) {
  li {
    overflow: hidden;
    white-space: nowrap;
    width: 40px;
    text-overflow: ".";
  }
}
summary.article-stub:hover .info {
  opacity: 1;
}
summary.article-stub.projects .article-title:before {
  content: "";
  display: block;
  float: left;
  background: url('/images/projects.svg');
  background-size: 50px 50px;
  color: #f8f825;
  text-shadow: 0px 0px 1px #555;
  width: 50px;
  height: 50px;
  text-align: center;
  margin-right: 27px;
  margin-left: -20px;
  margin-top: -1px;
  margin-bottom: 10px;
}
