@red: lighten(red, 10%);
@blue: lighten(blue, 10%);
@purple: lighten(purple, 10%);
@green: lighten(green, 10%);
@yellow: lighten(rgb(254,241,2), 10%);
@orange: lighten(#295719, 10%);

// colors for sections
@science-colour: @red;
@arts-colour: @blue;
@philosophy-colour: @purple;
@politics-colour: @green;
@projects-colour: @yellow;

// 
@science-link: url('/images/science.svg');
@arts-link: url('/images/arts.svg');
@politics-link: url('/images/politics.svg');
@projects-link: url('/images/projects.svg');
@philosophy-link: url('/images/philosophy.svg');

@import url(http://fonts.googleapis.com/css?family=Montserrat+Subrayada:400);
